nav {
    padding: .75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav .chip {
    background-color: var(--primary-color-light);
    color: white;
    border-radius: 5px;
    padding: .15rem .5rem .35rem;
    margin: 0px .25rem .5rem 0px;
    display: inline-block;
}

nav.end{
    justify-content: flex-end;
}

nav h3 {
    margin: 0px;
    font-weight: 600;
}

.search-bar {
    width: 60%;
    display: flex;
    align-items: center;
    gap: .35rem;
    background-color: var(--light-grey);
    border-radius: .25rem;
    overflow: hidden;
    padding: .25rem .75rem;
}

.search-bar img {
    margin-top: 2px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: 0;
    width: 100%;
}

.search-bar button {
    cursor: pointer;
}